---
import Layout from "../layouts/Layout.astro";
---
<Layout title="Sobre el proyecto">
  <div class="text-justify w-4/5 mx-auto bg-white p-5">
    <h2>COORDINADOR DR. RAÚL JUNIOR SANDOVAL GÓMEZ</h2>

<h3 class="text-2xl font-semibold text-blue-600 mb-2">MODELOS DE EMPRENDIMIENTO:</h3>
<ul class="list-disc pl-5 mb-4">
  <li class="text-gray-700">FRAFLCÉS ROMERO JOFLATHAFL ALDHAIR</li>
  <li class="text-gray-700">SOTELO HERFLÁFLDEZ DAFLIELA ALIFLE</li>
  <li class="text-gray-700">DR. RAÚL JUNIOR SANDOVAL GÓMEZ</li>
</ul>

<h3 class="text-2xl font-semibold text-blue-600 mb-2">TEORÍA GENERAL DE SISTEMAS Y TURISMO COMO EMPRENDIMIENTO SOCIAL</h3>
<ul class="list-disc pl-5 mb-4">
  <li class="text-gray-700">DR. RAÚL JUNIOR SANDOVAL GÓMEZ</li>
  <li class="text-gray-700">CRISTIAN RODRIGO LUGO GARCÍA</li>
</ul>

<h3 class="text-2xl font-semibold text-blue-600 mb-2">PERSPECTIVA DE INNOVACIÓN PARA UN MODELO DE EMPRENDIMIENTO BASADO EN LA CREACIÓN DEL VALOR.</h3>
<ul class="list-disc pl-5 mb-4">
  <li class="text-gray-700">DR. RAÚL JUNIOR SANDOVAL GÓMEZ</li>
  <li class="text-gray-700">LIC. EDGAR IVÁN CASTELLANOS SÁNCHEZ</li>
</ul>

<h3 class="text-2xl font-semibold text-blue-600 mb-2">TENDENCIAS EMPRESARIALES EN COLOMBIA</h3>
<ul class="list-disc pl-5 mb-4">
  <li class="text-gray-700">DR. RAÚL JUNIOR SANDOVAL GÓMEZ</li>
</ul>

<h3 class="text-2xl font-semibold text-blue-600 mb-2">EL EMPRENDIMIENTO DIGITAL Y LA ECONOMÍA COLABORATIVA EN LA CIUDAD DE MÉXICO</h3>
<ul class="list-disc pl-5 mb-4">
  <li class="text-gray-700">MA. EN A. REBECA PÉREZ GARCÍA</li>
  <li class="text-gray-700">DR. RAÚL JUNIOR SANDOVAL GÓMEZ</li>
  <li class="text-gray-700">GUSTAVO ADOLFO SÁNCHEZ GARCÍA</li>
</ul>

<h3 class="text-2xl font-semibold text-blue-600 mb-2">MERCADOTECNIA</h3>
<ul class="list-disc pl-5 mb-4">
  <li class="text-gray-700">DR. RAÚL JUNIOR SANDOVAL GÓMEZ</li>
  <li class="text-gray-700">LIC. REBECA PÉREZ GARCÍA</li>
</ul>

<h3 class="text-2xl font-semibold text-blue-600 mb-2">MODELO DE ALGORITMO DE COMPETITIVIDAD</h3>
<ul class="list-disc pl-5 mb-4">
  <li class="text-gray-700">DR. RAÚL JUNIOR SANDOVAL GÓMEZ</li>
</ul>

<h3 class="text-2xl font-semibold text-blue-600 mb-2">EMPRENDIMIENTO SOCIAL DESDE EL PUNTO DE VISTA JURÍDICO</h3>
<ul class="list-disc pl-5 mb-4">
  <li class="text-gray-700">DR. RAÚL JUNIOR SANDOVAL GÓMEZ</li>
  <li class="text-gray-700">SERGIO GARCÍA LÓPEZ</li>
</ul>

<h3 class="text-2xl font-semibold text-blue-600 mb-2">PARABRISASPRO S.A DE C.V</h3>
<ul class="list-disc pl-5 mb-4">
  <li class="text-gray-700">DR. RAÚL JUNIOR SANDOVAL GÓMEZ</li>
  <li class="text-gray-700">ARCOS MENDOZA HÉCTOR IVÁN</li>
  <!-- ... y así sucesivamente para cada integrante ... -->
</ul>

<h3 class="text-2xl font-semibold text-blue-600 mb-2">PARABRISASPRO S.A DE C.V</h3>
<ul class="list-disc pl-5 mb-4">
  <li class="text-gray-700">DR. RAÚL JUNIOR SANDOVAL GÓMEZ</li>
  <li class="text-gray-700">ARCOS MENDOZA HÉCTOR IVÁN</li>
  <li class="text-gray-700">AGUILAR MARTÍNEZ HUGO</li>
  <li class="text-gray-700">CAMARENA SÁNCHEZ IVAN</li>
  <li class="text-gray-700">CASTILLO PANOHAYA CARLOS RUBÉN</li>
</ul>

<h3 class="text-2xl font-semibold text-blue-600 mb-2">BATERIAS LVM</h3>
<ul class="list-disc pl-5 mb-4">
  <li class="text-gray-700">DR. RAÚL JUNIOR SANDOVAL GÓMEZ</li>
  <li class="text-gray-700">GARCÍA DURÁN LEONARDO</li>
  <li class="text-gray-700">GONZÁLEZ FLORES HORACIO</li>
  <li class="text-gray-700">RANGEL LÓPEZ VICTOR ARMANDO</li>
</ul>

<h3 class="text-2xl font-semibold text-blue-600 mb-2">BUJES BUFA</h3>
<ul class="list-disc pl-5 mb-4">
  <li class="text-gray-700">DR. RAÚL JUNIOR SANDOVAL GÓMEZ</li>
  <li class="text-gray-700">GONZALES SANTOS JOSUÉ DANIEL</li>
  <li class="text-gray-700">GONZALES TEOPANTITLA RODRIGO</li>
  <li class="text-gray-700">HERNÁNDEZ AMÉZQUITA JORGE DAVID</li>
  <li class="text-gray-700">HERNÁNDEZ SÁNCHEZ DIANA</li>
</ul>

<h3 class="text-2xl font-semibold text-blue-600 mb-2">BULLONI DELLE ROUTE</h3>
<ul class="list-disc pl-5 mb-4">
  <li class="text-gray-700">DR. RAÚL JUNIOR SANDOVAL GÓMEZ</li>
  <li class="text-gray-700">OLALDE BARRERA DIEGO ANTONIO</li>
  <li class="text-gray-700">MESEGUER MONTOYA VÍCTOR</li>
  <li class="text-gray-700">MORALES ZAMORA MARCO ANTONIO</li>
  <li class="text-gray-700">MARTÍNEZ CISNEROS JOSÉ ALBERTO</li>
</ul>

<h3 class="text-2xl font-semibold text-blue-600 mb-2">AIR LIFE</h3>
<ul class="list-disc pl-5 mb-4">
  <li class="text-gray-700">DR. RAÚL JUNIOR SANDOVAL GÓMEZ</li>
  <li class="text-gray-700">PALOMINO DELGADO CARLOS EHIEZER</li>
  <li class="text-gray-700">QUIROZ CRUZ LESLIE RACHEL</li>
  <li class="text-gray-700">PÉREZ MALDONADO JOAQUÍN</li>
  <li class="text-gray-700">PÉREZ PRIEGO VICTOR ANDRÉS</li>
</ul>

<h3 class="text-2xl font-semibold text-blue-600 mb-2">CATAPLOOM</h3>
<ul class="list-disc pl-5 mb-4">
  <li class="text-gray-700">DR. RAÚL JUNIOR SANDOVAL GÓMEZ</li>
  <li class="text-gray-700">TORRES SILVA ALAN ETIENNE</li>
  <li class="text-gray-700">VEGA VELAZCO ERICK DANIEL</li>
  <li class="text-gray-700">VERASTEGUI JUÁREZ JAIME</li>
</ul>

  </div>

</Layout>

<style>
  @tailwind base;
  @tailwind components;
  @tailwind utilities;
</style>


