---
import Layout from "../layouts/Layout.astro";
---
<Layout title="Sobre el proyecto">
    <h1>Sobre el proyecto</h1>

<p> 
    EL proyecto es llevado a acabo con la finalidad de visibilizar que las empresas pueden ser creadas nos solo para la generacion de beenrfecios para unos pocos,
    sino que tambien pueden crear beneficios a la sociedad.
</p>

</Layout>
