--- 
import Layout from '../layouts/Layout.astro';//lo encerrado en los puntos es para type script
---

<Layout title="Emprendimiento">
    <div 
    class="text-justify w-4/5 mx-auto bg-white p-5">

 <iframe src="public/Ejemplos con empresas/Empresa 4 Bulloni delle Route.pdf" width="100%" height="600px">
</iframe>

    
</div>
</Layout>