---
import Layout from "../layouts/Layout.astro";
---

<Layout title="IPN">

  <div class="container mx-auto p-6">
    <ul class="space-y-2">
      <li>
        <a href="/" class="block w-full text-left bg-blue-200 hover:bg-blue-800 text-black font-bold hover:text-white p-2 rounded">Emprendimiento social</a>
      </li>
      
      <!-- ¿Qué es? -->
      <li>
        <a href="/Resumen" class="block w-full text-left bg-blue-200 hover:bg-blue-800 text-black font-bold hover:text-white p-2 rounded">¿Qué es?</a>
        <ul class="pl-4 space-y-1">
          <li><a href="/modelodeEmpren" class="block w-full text-left bg-blue-200 hover:bg-blue-800 text-black font-bold hover:text-white p-2 rounded">Modelo de emprendimiento social</a></li>
          <li><a href="/PerspectivasTeo" class="block w-full text-left bg-blue-200 hover:bg-blue-800 text-black font-bold hover:text-white p-2 rounded">Perspectivas teóricas de un emprendimiento</a></li>
          <li><a href="/Sabermas" class="block w-full text-left bg-blue-200 hover:bg-blue-800 text-black font-bold hover:text-white p-2 rounded">Saber más</a></li>

          <!-- ...otros sub-elementos de ¿Qué es?... -->
        </ul>
      </li>
      
      <!-- ¿Cómo influye el país en el emprendimiento? -->
      <li>
        <a href="/influencia-pais" class="block w-full text-left bg-blue-200 hover:bg-blue-800 text-black font-bold hover:text-white p-2 rounded">¿Cómo influye el país en el emprendimiento?</a>
        <ul class="pl-4 space-y-1">
          <li><a href="/tendencias-colombia" class="block w-full text-left bg-blue-200 hover:bg-blue-800 text-black font-bold hover:text-white p-2 rounded">5 tendencias en Colombia</a></li>
          <li><a href="/Emprendimiento" class="block w-full text-left bg-blue-200 hover:bg-blue-800 text-black font-bold hover:text-white p-2 rounded">El Emprendimiento Digital y la Economía Colaborativa en México</a></li>

          <!-- ...otros sub-elementos de influencia del país... -->
        </ul>
      </li>
  
      <!-- ¿Cómo Impacta a la mercadotecnia? -->
      <li>
        <a href="/impacto-mercadotecnia" class="block w-full text-left bg-blue-200 hover:bg-blue-800 text-black font-bold hover:text-white p-2 rounded">¿Cómo Impacta a la mercadotecnia?</a>
      </li>
  
      <!-- Propuestas de emprendimiento -->
      <li>
        <a href="/propuestas-emprendimiento" class="block w-full text-left bg-blue-200 hover:bg-blue-800 text-black font-bold hover:text-white p-2 rounded">Propuestas de emprendimiento</a>
        <!-- Sub-elementos de propuestas de emprendimiento -->
      </li>
  
      <!-- ...otros elementos principales según sea necesario... -->
    </ul>
  </div>
  
      
</Layout>