--- 
import Layout from '../layouts/Layout.astro';//lo encerrado en los puntos es para type script
---


<Layout title="origen">
    <div 
    class="text-justify w-4/5 mx-auto bg-white p-5">

 <iframe src="/paginashtml/A6/a61.html" width="100%" height="600px">
</iframe>

</div>
</Layout>