--- 
import Layout from '../layouts/Layout.astro';//lo encerrado en los puntos es para type script
---

<Layout title="Modelo">
    <div 
    class="text-justify w-4/5 mx-auto bg-white p-5">

    <div class="container mx-auto p-6">
        <ul class="space-y-2">
          <li>
            <a href="/" class="block w-full text-left bg-blue-200 hover:bg-blue-800 text-black font-bold hover:text-white p-2 rounded"> Para saber mas</a>
          </li>
          
          <!-- ¿Qué es? -->
          <li>
            <a href="/OrigenPalabra" class="block w-full text-left bg-blue-200 hover:bg-blue-800 text-black font-bold hover:text-white p-2 rounded">1.	Origen de la palabra emprendedor </a>
            <a href="/ModelosEmp" class="block w-full text-left bg-blue-200 hover:bg-blue-800 text-black font-bold hover:text-white p-2 rounded">2.	Modelos definidos de emprendimiento. </a>
            <a href="/Emprendimiento" class="block w-full text-left bg-blue-200 hover:bg-blue-800 text-black font-bold hover:text-white p-2 rounded">3.	Emprendimiento</a>
            <a href="/Turismo" class="block w-full text-left bg-blue-200 hover:bg-blue-800 text-black font-bold hover:text-white p-2 rounded">4.	Teoría general de sistemas y turismo </a>
            <a href="/Objetivodirec" class="block w-full text-left bg-blue-200 hover:bg-blue-800 text-black font-bold hover:text-white p-2 rounded">5.	Objetivo de la alta dirección</a>
            <a href="/perspectiva" class="block w-full text-left bg-blue-200 hover:bg-blue-800 text-black font-bold hover:text-white p-2 rounded">6.	Perspectiva de innovación para un modelo de emprendimiento basado en la para la creación de valor </a>

              <!-- ...otros sub-elementos de ¿Qué es?... -->
           
          </li>
        </ul>
          
    
</div>
</Layout>